.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0090ff !important;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  letter-spacing: 4px;
  font-size: 3em;
}
.why {
  transform: translateY(-6px) translateX(-3px) rotate(-10deg);
  display: inline-block;
  padding: 3px 8px 0;
  letter-spacing: 0;
  line-height: 1.2;
  border-radius: 7px;
  background-color: white;
  font-size: 0.8em;
  color: #0090ff;
}
.App {
  position: relative;
}
.App main {
  padding: 3em 2em;
}
.App button {
  font-size: 16px;
}