@import url('./highlight-js-theme.css');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0%;
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0090ff !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  letter-spacing: 4px;
  font-size: 3em;
}
.why {
  transform: translateY(-3px) translateX(-1px) rotate(-7deg);
  display: inline-block;
}
.App {
  position: relative;
}
.App main {
  padding: 3em 2em;
}
.App button {
  font-size: 16px;
}
p {
  line-height: 1.5;
}
code {
  padding: 3px 6px;
  border-radius: 6px;
  background-color: rgb(0 0 0 / .09);
  font-family: monospace;
}

pre > code {
  display: block;
  padding: 15px 18px;
  border-radius: 12px;
  background-color: rgb(0 0 0 / .07);
  overflow: auto;
}
blockquote {
  font-size: 1.4em;
  color: rgb(0 0 0 / 0.6);
  font-style: italic;
}